<!DOCTYPE html>
<html lang="en">
<head>
    <title>Freight Slayer Invitation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        .logo {
            text-align: center;
            margin-bottom: 20px;
        }
        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://storage.googleapis.com/freight_static_files/freight-icon.png" alt="Freight Slayer Icon" width="200">
        </div>
        <h2>Hello {{username}},</h2>
        <p>We regret to inform you that your request for {{company_name}} has been declined. Unfortunately, we are unable to create the requested company at this time.</p>
        <p>The reason for this rejection is as follows:</p>
        <p><em>{{password_or_reason}}</em></p>
        <p>If you have any questions or would like further clarification, please don't hesitate to reach out to our support team.</p>
        <p>We appreciate your interest in FreightSlayer and apologize for any inconvenience this may have caused.</p>
        <br>
        <br>
        <br>
        <br>
        <p>Regards,</p>
        <p>FreightSlayer</p>
    </div>
</body>
</html>